body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* Header */
img {
  height: 50px;
  align-content: center;
}

a {
  color: seashell;
}

header {
background-color: black;
display: flex;
align-items: center;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
}

nav {
padding-right: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  font-weight: bold;
}

.logo {
  flex-grow: 2;
  margin: 10px;
  align-items: center;
}


/*Content*/

.content {
  width: 1200px;
  margin: 0 auto ;
  padding-top: 70px;
  align-items: center;
  display: block;

}
/* Mission Statement */
.mission {
display: flex;
background-image: url(../images/img-mission-background.jpg);
height: 700px;
width: 100%;
align-items: center;
}

.mission-text {
  background-color: black;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}
/*Tea Titles */

.tea-title {
  width: 1000px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

/* Tea Contenders Images*/
.container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.picture{
	padding: 5px;
}

.picture img{
	height: 200px;
	display: block;
	margin: 10px;
}

.picture span{
	display: block;
	padding: 5px;
	font-weight: bold;
	text-align: center;
}

.tom{
width: 1000px;
height: 700px;
margin: auto;
padding: 70px;
}

h2, h4 {
   text-align: center;
}

/*Locations*/

.location-section {
	height: 500px;
	background-image: url("../images/img-locations-background.jpg");
	padding-top: 70px;
}

.locals {
	width: 300px;
	opacity: 1.0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 280px;
	padding: 10px;
	margin: 5px 20px;
	background-color: black;
  text-align: center;
}

/* Contacts */
.contact{
	height: 200px;
  text-align: center;
}
