body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
img {
  height: 50px;
  align-content: center;
  margin-left: 10px;
}
a {
  color: seashell;
}
header {
display: flex;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
}

nav {

}

nav span {
  display: inline-block;
  padding: 20px 10px;
  
}

.logo {
flex-grow: 2;
}
